*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: black;

}
button{
    border: 0;
    background-color: rgb(82, 82, 206);
    padding: 16px 60px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px #007bff;
    animation: pulse 2s infinite;    

}
@keyframes pulse{
      0%{
    box-shadow: 0 0 10px #007bff ;
   }
      50%{
    box-shadow: 0 0 20px #007bff ;
   }
       100%{
    box-shadow: 0 0 10px #007bff ;
   }


}